.slideshow {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-top: 4rem;
    overflow: hidden;
}
.slideImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    margin: auto;
}

.slideText {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #FEF7D0;
    -webkit-text-stroke: 1px #080a09;
    font-size:1.7rem;
    font-family: 'Shantell Sans', cursive;
    pointer-events: none;
}
.slideControls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.slideControls button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #080a09;
    background: #8f857A;
    cursor: pointer;
}

.slideControls button.active {
    background: #FEF7D0;
}