.project {
    position: relative;
    height: 300px;
    font-family: 'Shantell Sans', cursive;
    border-bottom: 3px solid #DF7F7B;
    margin-bottom: 20px;
}
.project img{
    height: 100%;
    position: absolute;
    right: 40%;
    object-fit: fill;
}

.projectInfo {
    color: #633025;
    position: absolute;
    right: 0;
    height: 100%;
    width: calc(40% + 120px);
    background-color: #FFB6B4;
    display: flex;
    flex-direction: column;
    border-radius: 30px 0px 0px 50px;
}
.projectInfo.left {
    left: 0;
    border-radius: 0px 30px 50px 0px;
}
.projectName {
    z-index: 1;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    right: 0;
    border-radius: 30px 5px;
    background-color: #FEE5E6AB;
    text-decoration: none;
    color: #633025;
    transition: color 0.15s ease, background-color 0.15s ease;
}
.projectInfo.left .projectName {
    border-radius: 5px 30px;
}
a.projectName:hover {
    background-color: #55424B;
    color: #FFB6B4;
}
.projectDescription {
    z-index: 1;
    font-size: 1.3rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2.8rem;
    padding: 0px 15%;
}

.project img.left {
    left: 40%;
    transform: scaleX(-1);
}

.projectGithub {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 50px;
}

a.projectName {
    display: flex;
    justify-content: center;
    gap: 5px;
}

a.projectName img {
    height: 50px;
    position: static;
}
.projectInfo .tags{
    display: inline-flex;
    z-index: 0;
    gap: 4px;
}
.projectInfo .tag {
    border-radius: 20px 8px;
    border-radius: 16px 8px;
    padding: 0px 8px;
    color: #FEE5E6;
    border: 2px solid #FEE5E6;
}

.bg {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    user-drag: none;
}