.topic {
    position: relative;
    height: 500px;
    width: 400px;
    font-family: 'Shantell Sans', cursive;
    border: 3px solid #DF7F7B;
    background-color: #FFB6B4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.topicImg{
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    background-color: #DF7F7B;
    border-bottom: 3px solid #DF7F7B;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-user-drag: none;
    user-drag: none;
}

.topicName {
    z-index: 1;
    text-align: center;
    font-size: 2.2rem;
    width: 100%;
    height: 100px;
    right: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #FEE5E6AB;
    text-decoration: none;
    color: #633025;
    transition: color 0.15s ease, background-color 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.topicName > div {
    display: flex;
    align-items: center;
    gap: 5px;
}
a.topicName:hover {
    background-color: #55424B;
    color: #FFB6B4;
}
.topicDescription {
    z-index: 1;
    height: auto;
    font-size: 1.1rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2.3rem;
    padding: 0px 5%;
}


a.topicName img {
    height: 50px;
    position: static;
}
.topic .tags{
    display: inline-flex;
    z-index: 0;
    gap: 4px;
}
.topic .tag {
    border-radius: 20px 8px;
    border-radius: 16px 8px;
    padding: 0px 8px;
    color: #FEE5E6;
    border: 2px solid #FEE5E6;
}