.navbar {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.navbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 1.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 0.4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 100%;
    color: var(--hover-bg-color);
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 25px 5px;
    transition: background-color 0.15s ease, color 0.1s ease;
}

.nav-links a:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-bg-color);
}

.banner {
    height: 150px;
    background-image: url('.././assets/banner.jpg');
    background-size: cover;
    background-position: 50% 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.banner > img{
    position: absolute;
    height: 11rem;
}
.banner > img:first-of-type{
    mix-blend-mode: difference;
}