.timelapse-container {
    height: 14rem;
    aspect-ratio: 16/9;
    border-radius: 50%;
    border: 8px solid #B8BFD6;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    left:-50%;
}

.timelapse-container img {
    object-fit: cover;
    display: block;
    transition: transform 0.1s ease;
    pointer-events: none;
}
.timelapse-container:hover img {
    transform: scale(1.1);
}
.timelapse-frame{
    position: absolute;
    height: 0;
}
.timelapse-play:hover {
    background-color: #ACA0FF;
    color: #E5EBFE;
}
.timelapse-play {
    font-family: 'Shantell Sans', cursive;
    position: absolute;
    top: 178px;
    left: 38px;
    transform: rotate(-20deg);
    padding: 8px 16px;
    background-color: #B8BFD6;
    color: #E5EBFE;
    border-radius: 16px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    pointer-events: auto;
}

.timelapse-frame:has(.timelapse-play:hover) .timelapse-container,
.timelapse-frame:has(.timelapse-container:hover img) .timelapse-container{
    border-color: #ACA0FF;
}