.timelapse-container {
    height: 300px;
    aspect-ratio: 16/9;
    border-radius: 50%;
    border: 8px solid #B8BFD6;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
}

.timelapse-container img {
    object-fit: cover;
    display: block;
    transition: transform 0.1s ease;
    pointer-events: none;
}
.timelapse-container:hover img {
    transform: scale(1.1);
}