#root {
    min-width: 100%;
    padding: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
}
.app-background {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 200vh;
    width: 100%;
}

.site-container {
    width: 90%;
    min-height: 200vh;
    margin: auto;
    background-color: #E5EBFEF0;
}

.axolotl-scene{
    background: linear-gradient(to top, #D6E6FF 70%, #B1DED9);
    height: calc(100vh - 3rem - 150px);
}
