.app-background {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/902fc45c-deef-4f0b-b2ac-8e99318e9ac7/dl5ojhj-02904a71-fb92-4f8d-b91c-64a08a8f5fa1.jpg/v1/fill/w_1192,h_670,q_70,strp/castorice_by_lavennielil_dl5ojhj-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mLzkwMmZjNDVjLWRlZWYtNGYwYi1iMmFjLThlOTkzMThlOWFjNy9kbDVvamhqLTAyOTA0YTcxLWZiOTItNGY4ZC1iOTFjLTY0YTA4YThmNWZhMS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.iNVCtDooYqwaWKTRQQ1m6VLQ6YHi23HETe9axdQtqxY');
}

.site-container {
    background-color: #E5EBFEF0;
}

.axolotl-scene {
    background: linear-gradient(to top, #E0E6D5, #D6E6FF 30%, #D6E6FF 70%, #B1DED9);
    height: calc(100vh - 3rem - 150px);
}
.timelapse-list {
    width: 100%;
    position: relative;
}