.app-background {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/902fc45c-deef-4f0b-b2ac-8e99318e9ac7/dkh8vfm-be65d5ce-b195-476c-a904-ed24f0033e84.jpg/v1/fill/w_1192,h_670,q_70,strp/train_station_by_lavennielil_dkh8vfm-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mLzkwMmZjNDVjLWRlZWYtNGYwYi1iMmFjLThlOTkzMThlOWFjNy9ka2g4dmZtLWJlNjVkNWNlLWIxOTUtNDc2Yy1hOTA0LWVkMjRmMDAzM2U4NC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wKog2CV82nkG8t7KvZlwlMIW23VyRLjkTl-m5ZDCMaQ');
}

.site-container {
    background-color: #F9FEE5F0;
}

.project {
    position: relative;
    height: 300px;
    font-family: 'Shantell Sans', cursive;
    border-bottom: 3px solid #D0FFB4;
    margin-bottom: 20px;
}
.project img{
    height: 100%;
    position: absolute;
    right: 30%;
    object-fit: fill;
}

.project-info {
    color: #816E22;
    position: absolute;
    right: 0;
    height: 100%;
    width: calc(30% + 120px);
    background-color: #D0FFB4;
    display: flex;
    flex-direction: column;
}
.project-name {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    right: 0;
    border-radius: 30px 5px;
    background-color: #F9FEE5AA;
    text-decoration: none;
    color: #816E22;
    transition: color 0.15s ease, background-color 0.15s ease;
}
a.project-name:hover {
    background-color: #7ADF3E;
    color: #F9FEE5;
}
.project-description {
    font-size: 1.3rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2.8rem;
}

.project-info.left {
    left: 0;
}
.project img.left {
    left: 30%;
    transform: scaleX(-1);
}

.project-github {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 50px;
}