body {
  margin: 0;
  overflow-x: hidden
}

.app-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.site-container {
  width: 90%;
  margin: auto;
}