.appBackground > div:first-of-type {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/902fc45c-deef-4f0b-b2ac-8e99318e9ac7/dkldmlv-461a25c8-4431-4d86-8bd0-b16826c7fa17.jpg/v1/fill/w_1192,h_670,q_70,strp/cosmic_ocean_by_lavennielil_dkldmlv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mLzkwMmZjNDVjLWRlZWYtNGYwYi1iMmFjLThlOTkzMThlOWFjNy9ka2xkbWx2LTQ2MWEyNWM4LTQ0MzEtNGQ4Ni04YmQwLWIxNjgyNmM3ZmExNy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.cYHIJtvCsX1wfcqNA4GAJ-xBarZ5ILfXNOOxrMckUcs');
    filter: grayscale(90%);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
}
.appBackground {
    position: relative;
}
.siteContainer {
    width: 100%;
    background-color: #212125C0;
    height: calc(100vh - 3rem - 87px);
}