.appBackground {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/902fc45c-deef-4f0b-b2ac-8e99318e9ac7/dlfoa5f-d340286d-b8b0-4989-a441-8195cf2ae26a.jpg/v1/fill/w_1192,h_670,q_70,strp/forest_fire_by_lavennielil_dlfoa5f-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mLzkwMmZjNDVjLWRlZWYtNGYwYi1iMmFjLThlOTkzMThlOWFjNy9kbGZvYTVmLWQzNDAyODZkLWI4YjAtNDk4OS1hNDQxLTgxOTVjZjJhZTI2YS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wmct5BSX3vASPVSARCdVOG2X9RReTSRsDK9B-t0oXM8');
}

.siteContainer {
    background-color: #63463BF0;
    color: #f4e2d5;
}

.siteContainer a {
    color: #FF7C81;
}

.siteContainer a:visited {
    color: #c85152;
}

.list {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
}
.row {
    display: grid;
    grid-template-columns: 1fr 200px 20px 230px 40px 150px 1fr;
}
.row img:first-of-type {
    height: 1rem;
    width: 1rem;
}
.row img {
    height: 1rem;
    width: calc(16rem/9);
}